body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: grey;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .pullright {
    float: right ;
  }
  
  /* Style the content */
  .content {
    text-align: center;
    background-color: #ddd;
    padding: 10px;
    height: auto; /* Should be removed. Only for demonstration */
  }
  .content a {
    float: center;
    color: #0066ba;
    text-align: center;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the footer */
  .footer {
    background-color: #f1f1f1;
    padding: 10px;
  }
  
  .header {
    padding: 15px;
    text-align: center;
    background: #0066ba;
    color: white;
    font-size: 30px;
  }
  .error {
    text-align: center;
    color: #D8000C;
    background-color: #FFD2D2;
  }
  .button {
    background-color: #0066ba; /* Green */
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button1 {
    background-color: #ddd; 
    color: black; 
    border: 2px solid #0066ba;
  }
  .button1:hover {
    background-color: #0066ba;
    color: white;
  }
  .message {
    text-align: center;
    color: #2800d8;
    background-color: #FFD2D2;
  }

  .container { position:relative; }
.container video {
    position:relative;
    z-index:0;
}
.overlay {
    position:relative;
    z-index:1;
}
.overlay a {
  position:relative;
  z-index:1;
}

.likecom {
  background-color: #ddd; /* Green */
  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}