<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}"
</head>
<body>
    <div class="header">Play On</div>
    <div class="topnav">
        {%  if session.logged_in %}
        <a href="/home">Home</a>
        <a href="{{ url_for('profile', login_id=session['login_id']) }}">Profile</a>
        <a href="/logout">Logout</a>
        {% else: %}
        <a href="/">Home</a>
        <a href="/login">Log In</a>
        <a href="/register">Register</a>
        {% endif %}
    </div>

    <!-- search bar html will come here -->

    <div class= "error">
        {% with message = get_flashed_messages() %}
                <body>
                    {{message[0]}}
                </body>
        {% endwith %}
    </div>
    {% block body %}{% endblock %}
    <div class="footer"></div>
</body>
</html>