<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}"
</head>
<body>
    <div class="header">Play On</div>
    <div class="topnav">
        <a href="/logout">Logout</a>
    </div>

    <div class= "error">
        {% with errors = get_flashed_messages() %}
            {% if error == True %}
                <body>
                    {{errors[0]}}
                </body>
            {% endif %}
        {% endwith %}
    </div>
    <div class= "message">
        {% with messages = get_flashed_messages() %}
            {% if message == True %}
                <body>
                    {{messages[0]}}
                </body>
            {% endif %}
        {% endwith %}
    </div>
    {% block body %}{% endblock %}
</body>
</html>